@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
$theme-font: 'PT Sans, sans-serif';
$main-color: #3e0255;

body {
  background: $main-color;
  font-family: $theme-font;
}
